.about-page {

    // MARQUEE
    .marquee {
        font-size: 3rem;
        font-weight: 800;

        span {
            margin: 0 1rem;
        }
    }
}

@include for-phone-only {
    .about-page {

        // MARQUEE
        .marquee {
            font-size: 4rem;
        }
    }
}

@include for-tablet-potrait-up {
    .about-page {

        // MARQUEE
        .marquee {
            font-size: 6rem;
        }
    }
}

@include for-tablet-landscape-up {
    .about-page {

        // MARQUEE
        .marquee {
            font-size: 7rem;
        }
    }
}

@include for-desktop-up {
    .about-page {

        // MARQUEE
        .marquee {
            font-size: 8rem;
        }
    }
}

@include for-big-desktop-up {
    .about-page {

        // MARQUEE
        .marquee {
            font-size: 9rem;
        }
    }
}