    .our-services-section {
        padding: 8rem 14px;

        .title {
            margin-bottom: 4rem;

            h4 {
                margin-bottom: 1rem;
                font-weight: 400;
                font-size: 0.7rem;
                padding: 1rem;
                @include flex(center, center, row);
                display: inline-flex;
            }

            h2 {
                font-size: 2.4rem;
            }
        }

        .services {
            @include grid(1, 1fr, 40px);

            .service {
                padding: 40px 20px;
                border: 1px solid $borderColor;
                border-radius: 10px;

                .icon {
                    border: 2px solid red;
                    width: 60px;
                    height: 60px;
                    margin-bottom: 2rem;
                }

                .service-title {
                    font-size: 1.3rem;
                    margin-bottom: 2rem;
                }

                p {
                    margin-bottom: 1rem;
                }

                a {
                    @include flex(center, flex-start, row);
                    display: inline-flex;
                    border-bottom: 1px solid #fff;
                    padding: 0.2rem 0;

                    svg {
                        margin-left: 0.5rem;
                    }

                }
            }
        }
    }

    @include for-phone-only {
        .our-services-section {
            padding: 8rem 24px;
        }
    }

    @include for-tablet-potrait-up {
        .our-services-section {
            padding: 8rem 40px;

            .services {
                @include grid(2, 1fr, 40px);
            }
        }
    }

    @include for-tablet-landscape-up {
        .our-services-section {
            padding: 8rem 60px;
        }
    }

    @include for-desktop-up {
        .our-services-section {
            padding: 8rem 115px;

            .title {
                h4 {
                    font-size: 0.8rem;
                }

                h2 {
                    font-size: 3.8rem;
                }
            }

            .services {
                @include grid(3, 1fr, 40px);

                .service {
                    padding: 60px 40px;

                    .service-title {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    @include for-big-desktop-up {
        .our-services-section {
            padding: 8rem 675px;
        }
    }