.home-page {

    // HEADER
    header {
        height: 100vh;
        width: 100%;

        .mySwiper4 {
            height: 100%;
            width: 100%;

            .slide {
                width: 100%;
                height: 100%;
                @include flex(center, center, column);
                background-size: cover;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: #000;
                    opacity: .6;
                }

                .container {
                    width: 100%;
                    padding: 0 14px;
                    @include flex(center, center, column);
                    text-align: center;
                    z-index: 2;

                    h4 {
                        @include flex(center, center, row);
                        margin-bottom: 1rem;

                        span {
                            font-size: 0.8rem;
                            font-weight: 200;
                            @include flex(center, center, row);
                            margin-right: 1rem;
                        }
                    }

                    h1 {
                        font-size: clamp(1.5rem, 4vw, 5rem);
                        margin-bottom: 2rem;
                        text-transform: capitalize;
                    }

                    a {
                        border: 2px solid $borderColor;
                        padding: 1rem 2rem;
                        font-weight: 300;
                        @include flex(center, center, row);
                        background-color: #55e6a5;
                        color: #212529;
                        font-weight: 500;
                        border-radius: 0 !important;
                        transition: all .4s;

                        svg {
                            font-size: 1rem;
                            margin-left: 0.5rem;
                        }

                        &:hover {
                            background: transparent !important;
                            border-color: #fff;
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }

    // MARQUEE
    .home-marquee {
        background-color: #55e6a5;
        padding: 1rem 0;

        h5 {
            font-size: clamp(1rem, 5vw, 1.8rem);
            @include flex(center, flex-start, row);
            margin: 0 1rem;
            font-weight: 500;

            span {
                @include flex(center, center, row);
                margin-right: 1rem;
                color: #000;

                &.stroke {
                    margin-top: 0.5rem;
                    color: transparent;
                    -webkit-text-stroke: 1px #1d1d1d;
                }
            }
        }
    }

    // CONMPANY STATS
    .company-stats {
        padding: 8rem 14px;
        margin: 1rem 0;
        @include grid(1, 1fr, 40px);

        .stat {
            h2 {
                font-size: clamp(4rem, 7vw, 6rem);

                &.stroke {
                    color: transparent;
                    -webkit-text-stroke: 1px #fff;
                }
            }
        }

    }

    // TESRTIMONIAL SECTION
    .testimonial {
        padding: 2rem 14px 3rem 14px;
        margin-top: 3rem;
        background-size: auto;
        @include flex(flex-start, space-between, column);
        position: relative;
        overflow: hidden;

        .bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: url("../../assets/dots-bg.png");
            opacity: 0.1;
        }

        .left {
            width: 100%;
            overflow: hidden;

            img {
                transform: translateY(90px);
            }
        }

        .right {
            width: 100%;
            margin-top: 3rem;

            .stars {
                @include flex(center, flex-start, row);
                display: inline-flex;
                padding: 0.5rem;
                color: #55e6a5;
                margin-bottom: 1rem;

                svg {
                    margin: 0 0.2rem;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            p {
                font-size: 1rem;
                font-weight: 600;
            }

            .divider {
                margin: 2rem 0;
                position: relative;

                .img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    position: absolute;
                    border: 2px solid $borderColor;
                    right: 10%;
                    top: -30px;
                    @include flex(center, center, row);
                    background-color: $subBgColor;

                    img {
                        width: 50%;
                        height: 50%;
                    }

                }

            }

            .ceo {
                padding: 1rem 0;

                h6 {
                    font-size: 1.3rem;
                }
            }
        }
    }

    // OUR REPUTATON SECTION
    .our-reputation {
        padding: 8rem 14px;
        margin: 1rem 0;
        @include flex(flex-start, space-between, column);

        .info {
            width: 100%;

            .sub-title {
                margin-bottom: 1rem;
            }

            h2 {
                font-size: clamp(1.2rem, 4vw, 2rem);
                margin-bottom: 1rem;
            }

            .past-clients {
                width: 100%;
                padding: 2rem 0;
                @include grid(2, 1fr, 20px);

                .client {
                    border: 1px solid $borderColor;
                    padding: 2rem;
                    @include flex(center, center, row);
                }
            }
        }

        .video {
            width: 100%;
            border: 2px solid $borderColor;
            height: 40vh;
        }

    }

    // OUR VALUES
    .our-values {
        padding: 6rem 14px;
        margin: 1rem 0;
        @include flex(flex-start, space-between, column);

        .left {
            width: 100%;
            margin-bottom: 3rem;

            .value {
                @include flex(center, space-between, row);
                margin-bottom: 2rem;

                .img {
                    width: 60px;
                    margin-right: 1rem;
                }

                .info {
                    h3 {
                        margin-bottom: 1rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .right {
            width: 100%;

            .sub-title {
                margin-bottom: 1rem;
            }

            h2 {
                font-size: clamp(1.3rem, 3vw, 2rem);
                margin-bottom: 2rem;
            }

            .skills-box {
                .skill {
                    margin-bottom: 2rem;

                    h3 {
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }

                    .bar {
                        width: 100%;
                        height: 5px;
                        background-color: $borderColor;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 90%;
                            height: 100%;
                            background-color: #fff;
                        }

                        &::after {
                            content: "90%";
                            position: absolute;
                            height: 100%;
                            left: 90%;
                            top: -30px;
                        }
                    }
                }
            }
        }
    }
}

@include for-phone-only {
    .home-page {

        // HEADER
        header {
            .mySwiper4 {
                .slide {
                    .container {
                        padding: 0 24px;
                    }
                }
            }
        }

        // CONMPANY STATS
        .company-stats {
            padding: 8rem 24px;
        }

        // TESRTIMONIAL SECTION
        .testimonial {
            padding: 2rem 24px 3rem 24px;
        }

        // OUR REPUTATON SECTION
        .our-reputation {
            padding: 8rem 24px;
        }

        // OUR VALUES
        .our-values {
            padding: 6rem 24px;
        }
    }
}

@include for-tablet-potrait-up {
    .home-page {

        // HEADER
        header {
            .mySwiper4 {
                .slide {
                    .container {
                        width: 70%;
                        padding: 0 auto;
                    }
                }
            }
        }

        // CONMPANY STATS
        .company-stats {
            padding: 8rem 40px;
            @include grid(2, 1fr, 40px);

            .stat {
                text-align: center;
            }
        }

        // TESRTIMONIAL SECTION
        .testimonial {
            padding: 2rem 40px 3rem 40px;
            @include flex(center, space-between, row);
        }

        // OUR REPUTATON SECTION
        .our-reputation {
            padding: 8rem 40px;

            .info {
                .past-clients {
                    @include grid(3, 1fr, 20px);
                }
            }
        }

        // OUR VALUES
        .our-values {
            padding: 6rem 40px;
            @include flex(center, space-between, row);

            .left {
                margin-bottom: 0;
            }

            .right {
                margin-left: 3rem;
            }
        }
    }
}

@include for-tablet-landscape-up {
    .home-page {

        // HEADER
        header {
            .mySwiper4 {
                .slide {
                    .container {
                        width: 60%;
                    }
                }
            }
        }

        // CONMPANY STATS
        .company-stats {
            padding: 8rem 60px;
        }

        // TESRTIMONIAL SECTION
        .testimonial {
            padding: 2rem 60px 3rem 60px;
        }

        // OUR REPUTATON SECTION
        .our-reputation {
            padding: 8rem 60px;
        }

        // OUR VALUES
        .our-values {
            padding: 6rem 60px;
        }
    }
}

@include for-desktop-up {
    .home-page {

        // HEADER
        header {
            .mySwiper4 {
                .slide {
                    .container {
                        width: 60%;
                        margin: 0 auto;
                        padding: 0;

                        h4 {
                            span {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        // CONMPANY STATS
        .company-stats {
            padding: 8rem 115px;
            @include grid(4, 1fr, 40px);

            .stat {
                text-align: center;

                &:first-child {
                    text-align: start;
                }

                &:last-child {
                    text-align: end;
                }
            }
        }

        // TESRTIMONIAL SECTION
        .testimonial {
            padding: 2rem 115px 0 115px;
            @include flex(center, space-between, row);

            .left {
                margin-right: 3rem;
                width: 50%;
                transform: translateY(150px);

                img {
                    transform: translateY(0);
                }
            }

            .right {
                width: 50%;

                p {
                    font-size: 1.2rem;
                }
            }
        }

        // OUR REPUTATON SECTION
        .our-reputation {
            padding: 8rem 115px;
            @include flex(center, space-between, row);

            .info {
                width: 55%;
                margin-right: 1rem;
            }

            .video {
                width: 40%;
                height: 70vh;
            }
        }

        // OUR VALUES
        .our-values {
            padding: 8rem 115px;

            .left {
                width: 50%;
                margin-bottom: 0;

                .value {
                    .info {
                        h3 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            .right {
                width: 50%;
                margin-left: 2rem;
                padding: 1rem 0rem 1rem 3rem;

                .skills-box {
                    .skill {
                        h3 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

@include for-big-desktop-up {
    .home-page {

        // HEADER
        header {
            .mySwiper4 {
                .slide {
                    .container {
                        width: 50%;

                        h4 {
                            span {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }

        // CONMPANY STATS
        .company-stats {
            padding: 8rem 675px;
        }

        // TESRTIMONIAL SECTION
        .testimonial {
            padding: 2rem 675px 0 675px;
        }

        // OUR REPUTATON SECTION
        .our-reputation {
            padding: 8rem 675px;

            .video {
                height: 30vh;
            }
        }

        // OUR VALUES
        .our-values {
            padding: 8rem 675px;
        }
    }
}