.navbar {
    @include flex(center, space-between, row);
    padding: 0.8rem 14px;
    background: $bgColor;
    color: $defaultTextColor;

    .links {
        @include flex(flex-start, flex-start, column);
        position: absolute;
        width: 100%;
        background-color: $bgColor;
        top: 70px;
        left: 0;
        right: 0;
        padding: 2rem 14px;
        z-index: -10;
        opacity: 0;
        transition: 0.3s linear all;
        transform: translateY(10px);

        &.show {
            z-index: 10;
            opacity: 1;
            transform: translateY(0);
        }

        li {
            margin: 1.5rem 0rem;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            font-weight: 600;
        }
    }

    .hamburger {
        @include flex(center, center, row);
        width: 30px;
        height: 20px;
        cursor: pointer;

        span {
            width: 100%;
            height: 1px;
            background-color: #fff;
            position: relative;
            transition: 0.1s linear all;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #fff;
                transition: 0.2s linear all;
            }

            &::before {
                top: 10px;
            }

            &::after {
                bottom: 10px;
            }

            &.clicked {
                background: transparent;

                &::before {
                    transform: translate3d(-4px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-39deg) skew(0deg, 0deg);
                    top: 0;
                    left: 4px;
                }

                &::after {
                    transform: translate3d(-4px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(39deg) skew(0deg, 0deg);
                    bottom: 0;
                    left: 4px;
                }
            }
        }
    }
}


@include for-phone-only {
    .navbar {
        padding: 0.8rem 24px;

        .links {
            padding: 2rem 24px;
        }
    }
}

@include for-tablet-potrait-up {
    .navbar {
        padding: 0.8rem 40px;

        .links {
            padding: 2rem 40px;
        }
    }
}

@include for-tablet-landscape-up {
    .navbar {
        padding: 0.8rem 60px;

        .links {
            padding: 2rem 60px;
        }
    }
}

@include for-desktop-up {
    .navbar {
        padding: 0.5rem 115px;

        .links {
            @include flex(center, space-between, row);
            position: relative;
            z-index: 1;
            opacity: 1;
            top: 0;
            transform: translateY(0);
            padding: 0.8rem 0;
            width: auto;

            li {
                margin: 0 1.5rem;
            }
        }

        .hamburger {
            display: none;
        }
    }
}

@include for-big-desktop-up {
    .navbar {
        padding: 0.5rem 675px;
    }
}